@font-face {
  font-family: 'Tenor Sans';
  src: url('fonts/tenor.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Open Sans Light';
  src: url('fonts/OpenSans-Light.ttf') format('ttf');
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url('fonts/OpenSans-Bold.ttf') format('ttf');
}
.tenor-sans {
  font-family: 'Tenor Sans', sans-serif;
}

* {
  font-family: 'Open Sans', sans-serif;
}

.open-sans-light {
  font-family: 'Open Sans Light', sans-serif;
}

a {
  text-decoration: none;
  color: #323232;
}

h1,
h2 {
  font-size: 50px;
  color: #57463A;
  font-family: 'Tenor Sans', sans-serif;
}

.heading {
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

body {
  margin: 0;
  background: #F3EFEA;
}

p {
  color: #323232;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  /* 27px */
}

button {
  width: 245px;
  height: 60px;
  background: #A1B29F;
  flex-shrink: 0;
  border: 0;
  text-align: center;
  color: #F6F6F6;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 24px */
  cursor: pointer;
}

.container_desription_button {
  margin-top: 74px;
}

.container_desription_logo_ref {
  margin-top: 74px;
  margin-left: 411px;
  text-align: right;
}

.nav{
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}

.nav__list{
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content: center;
  width: 25%;
}
.nav__item {
  margin: auto, auto;
}
.nav__list a {
  margin: 0 40px;
  font-size: 18px;
}

.nav__list ul {
  padding: 0;
}


main, .footer-inner{
  max-width: 1800px;
}

header{
  border-bottom: 1px double black;
}

header nav{
  max-width: 1920px;
}

header nav, .footer-inner{
  margin: 0 auto;
}


.d_flex {
  display: flex;
}
.header__item {
  margin: auto, auto;
}

.header__logo-pic {
  width: 100px;
}
.home_page{
  display: flex;
  align-items: center;
  list-style-type: none;
}
.home_page_image {
  width: 45%;
}

.home_page_image .header__logo-pic {
  width: 100%;
}

.centered_div {
  margin: 0 auto;
  display: flex;
  align-items: center;
  list-style-type: none;
}

.service_1{
  background: #e3dace;
}
.services .service_1 .centered_div {
  width: 100%;
}
.service_2{
  background: #D4CDC3;
}

.services .service_1 img {
  display: block;
}

.centered_div .services-descr {
  padding-left: 40px;
}
.services-descr h3{
  font-weight: bold;
  font-family: 'Tenor Sans', sans-serif;
  font-size: 24px !important;
}
.card {
  width: 80%;
  border: 6px solid green;
  padding: 7px;
  margin: 50px auto;
  height: 600px;
}

.card .card-border {
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}

.card .card-border .card-border_inner {
  width: 70%;
}

.card .card-border .card-border_inner .str_h {
  margin: 0;
  text-align: center;
}

.card .card-border .card-border_inner img {
  position: absolute;
  right: 80px;
  bottom: 50px;
  width: 200px;
  opacity: 0.6;
}

.link {
  display: block;
}

.custom_furniture{
  position: relative;
}

.furniture_describe{
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translatex(-50%);
  text-align: center;
  left: 50%;
  width: 80%;
}
.furniture_describe p{
  color: #fff !important;
}
.furniture_describe h1{
  color: #fff !important;
}

.header_cont_image-button{
  background: #fff !important;
  color: #57463A !important;
}

.header_why_we{
  font-weight: 100;
  margin-top: 200px;
  margin-bottom: 100px;
}

 .answers_1{
  display: flex;
}
.answers_2{
  display: flex;
  margin-bottom: 100px;
} */

.porfolio h1{
  font-weight: 100;
  margin-bottom: 100px;
}

.main_photo{
  width: 100%;
}

.main_photo img{

  width: 100%;
}


.home_page_description {
  margin-left: 50px;
  width: 40%;
}
.home_page_description h1{
  font-family: 'Tenor Sans', sans-serif;
}

.brand_description .str_h{
  font-family: 'Tenor Sans', sans-serif;
}






.brand_description_answers {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

.brand_description_answer {
  border-bottom: 3px solid #715B4B;
  padding: 0 50px;
  box-sizing: border-box;
  text-align: center;
  width: 30%;
}

.family_NIKASON_pic {
  width: 704px;
  flex-shrink: 0;
}

.footer {
  background: #715B4B;
  padding: 50px;
  color: #fff;
  font-weight: 100;
}
.footer-inner{
  display: flex;
  justify-content: space-around;
}
.footer a {
  color: #fff;
  font-weight: 100;
}

.container_main {
  width: 85%;
  margin: 0 auto;
}

.container_main_b{
  width: 85%;
  margin: 0 auto;
  margin-top: 200px;
}
.history_header .str_h{
  font-weight: 100;
}

.history_descriptions{
  margin-top: 200px;
}
.history_facts{
  display: flex;
  justify-content: space-between;
}

.history_description .str_h{
  font-weight: 100;
}

.history_info{
  margin-top: 200px;
  display: flex;
}

.history_info_pic{
  height: 100%;
}

.history_info_text{
  margin-left: 100px;
}

.history_info_text h2{
  color: #000;
  font-size: 24px !important;
}

.history_info_text p{
  font-weight: 400;
}


.history_info_text .base_txt{
  margin-bottom: 50px;
}

.history_description_philosophy .str_h{
  margin-top: 200px;
  margin-bottom: 100px;
}

.history_description_philosophy p{
  text-align: right;
  font-size: 30px !important;
  font-weight: 100;
}
.history_philosophy .str_h{
  margin-top: 200px;
}

.history_description_news .str_h{
  margin-top: 200px;
}
.history_description_news p{
  margin-bottom: 100px;
}
.history_description_news_photos{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.history_description_news_photos img{
  margin-left: 20px;
  margin-right: 20px;
}

.application{
  margin-bottom: 100px;
}
.application_title{
  font-weight: 100;
  margin-top: 200px;
  margin-bottom: 50px;
  text-align: center;
}
.application_button{
  text-align: center;
}

.brand_description,
.product {
  padding: 50px 0;
}
.str_h {
  margin: 50px 0;
}


.product_description table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  margin: 100px 0;
}

.product_description td {
  width: 25%;
  padding: 25px 0;
}

.product_description td p {
  margin: 10px;
}

.family_NIKASON_overview{
  display: flex;

}

.family_NIKASON_overview_description {
  background: #EBEEEB;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  width: 60%;
  justify-content: center;
}
.family_NIKASON_overview_description p {
  margin: 0;
  width: 60%;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Tenor Sans', sans-serif;
}
.services h2{
  margin-top: 200px;
}


._overview_inner_description {
  margin: 30px 0;
}

._overview_inner_description p {
  margin: 20px 0;
  font-size: 24px !important;
}

.family_NIKASON_overview_pic {
  width: 40%;
}

.family_NIKASON_overview_pic img {
  width: 100%;
}



.footer .links a {
  margin-bottom: 10px;
}

.footer-inner__link a {
  margin: 0 10px;
}

.fact_image {
  width: 100%;
}

.pos_rel {
  position: relative;
}
.main_fact{
  position: relative;

}

.container_img_h{
  position: relative;
}
.container_img_h .fact_image{
  width: 100%;
}
.fact_text_h{
  color: #fff !important;
  font-weight: 100;
}

.fact_text{
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translatex(-50%);
  text-align: center;
  left: 50%;
  width: 80%;
}
.button_info{
  background: #fff !important;
  
  color: #fff !important;
  margin-top: 100px;
  color: #006981 !important;
}

.container_our_works .str_h{
  margin: 50px 0;
  margin-top: 200px;
}
.container_our_works .our_works_pictures{
  display: flex;
  justify-content: center;
}
.container_our_works img{
  height: 300px;
}
.container_our_works .our_works_button{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.enum_technique .str_h{
  margin-top: 200px;
}

.our_works_pictures_img,
.resravration_master_pictures_img {
  padding: 20px;
  text-align: center;
}
.resravration_master_pictures{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.resravration_master_pictures_img{
  width: 15%;
}
.resravration_master p{
  font-weight: bold;
}
.stolyar_deal .str_h{
  margin-top: 100px;
}
.stolyar_deal p{
  font-weight: bold;
}
.stolyar_deal_pictures{
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.manual_about_redesign{
  margin-top: 200px;
  margin-bottom: 200px;
}

.manual_about_redesign_description .str_h{
  font-weight: 100;
}

.manual_text{
  margin-top: 100px;
}
.manual_about_redesign_button{
  margin-top: 25px;
}

.block_center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header_image_2 h1 {
  font-size: 80px;
  line-height: 100px;
}

.width_100 {
  width: 100%;
}



.headers_p_main {
  border-bottom: 1px solid #57463A;
  font-weight: bold;
}

.answer {
  width: 20%;
  margin-right: 13%;
}

.flex_wrap {
  flex-wrap: wrap;
}

.justify_content_between {
  justify-content: space-between;
}

.slider {
  width: 50%;
  margin: 0 auto;
}

.slides:before {
  content: "←";
  width: 35px;
  height: 35px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: -50px;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  /* display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative; */
}

.slides:after {
  content: "→";
  width: 35px;
  height: 35px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  right: -50px;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  /* display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative; */
}



.stages{
  margin-top: 200px;
}
.stages h1{
  font-weight: 100;
  margin-bottom: 100px;
}

.stages .stages_table{
  color: #57463A !important;
}
.table_fixed td{
  width: 30%;
  position: relative;
}
.about h1{
  font-weight: 100;
  margin-top: 200px;
  margin-bottom: 100px;
}
.about .about_table{
  display: flex;
  justify-content: space-between;
}


.table_fixed {
  border-collapse: collapse;
  color: #57463A !important;
}

.table_fixed p{
  width: 50%;
}


.stages_table table,
.stages_table table td {
  border-width: 2px;
  border-color: #57463A;
}

.stages_table p {
  margin-left: 40px;
}

.stages_table .pos_rel {
  padding-top: 60px;
}

.stages_table span {
  position: absolute;
  right: 20px;
  top: 5px;
  font-size: 50px;
}

.history_header_pic {
  width: 1160px;
  height: 536.5px;
  flex-shrink: 0;
}

.history_header {
  text-align: center;
}


